* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', serif;
}
/* 超連結樣式 */
a {
	text-decoration: none;
}
a:link {
	color: rgba(255, 255, 255, 0.87);
}
a:visited {
	color: rgba(255, 255, 255, 0.87);
}
/* 網頁背景 */
body {
	margin: 0px;
	padding: 0px;
	background: url('//cdn.jsdelivr.net/gh/NekoChanTaiwan/NekoChan-Open-Data@1.8.2.beta16/images/background_3.webp');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
/* 導航背景 #232427 */
.mdui-theme-primary-blue .mdui-color-theme {
	background-color: rgb(45 45 45 / 95%) !important;
}
/* 導航樣式 */
.mdui-appbar {
	padding-right: 8px;
	padding-left: 8px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1265px;
}
/* 列表背景 #333232 */
.mdui-container,
.mdui-textfield-input {
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(45 45 45 / 95%);
}
/* 特殊狀態 */
.updating {
	color: rgb(251 191 72 / 87%) !important;
}
.finish {
	color: rgb(255 106 106 / 87%) !important;
}
.r18 {
	color: rgb(249 67 177 / 87%) !important;
}
/* 海報牆模式 */
.folder-items {
	width: 19%;
	height: 350px;
	margin: 0 1px 10px 1px;
	text-decoration: none;
}
.folder-div {
	height: 100%;
	position: relative;
	display: inline-block;
}
.folder-img {
	width: 100%;
	height: 100%;
	object-fit: cover
}
.folder-text {
	position: absolute;
	bottom: 0;
	left: 0;
	white-space: initial;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: white;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 5px 0 0 0;
	background: linear-gradient(to bottom, #000000a3 80%, black 120%)
}
@media (max-width: 1199px) {
	.folder-items {
		width: 25%;
	}
}
@media (max-width: 991px) {
	.folder-items {
		width: 35%;
		height: 250px;
	}
}
@media (max-width: 767.9px) {
	.folder-items {
		width: 40%;
	}
}
/* Other */
.mdui-appbar .mdui-toolbar {
	height: 56px;
	font-size: 1px;
}
.mdui-toolbar > * {
	padding: 0 6px;
	margin: 0 2px;
}
.mdui-toolbar > .mdui-typo-headline {
	padding: 0 1pc 0 0;
}
.mdui-toolbar > i {
	padding: 0;
	opacity: 0.5;
}
.mdui-toolbar > a:hover,
a.active,
a.mdui-typo-headline {
	opacity: 1;
}
.mdui-list-item {
	transition: none;
}
.mdui-list > .th {
	background-color: initial;
}
.mdui-list-item > a {
	width: 100%;
	line-height: 3pc;
}
.mdui-list-item {
	margin: 2px 0;
	padding: 0;
}
.mdui-toolbar > a:last-child {
	opacity: 1;
}
@media screen and (max-width: 980px) {
	.mdui-list-item .mdui-text-right {
		display: none;
	}
	.mdui-container {
		width: 100% !important;
		margin: 0;
	}
	.mdui-toolbar > .mdui-typo-headline,
	.mdui-toolbar > a:last-child,
	.mdui-toolbar > i:first-child {
		display: block;
	}
}
